<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}{% endblock %}
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=V29h33OXTGzkVqSuJBYhzH7PnzgoKwIHaMjQ9JW96cBy9WyhpaGuCM2mr6fWZJl4asWonFdnZwgT33oFPKDV6ePE0kbJ0hIPXm7KjC625F34HV6o95HqU_JmJ4IjnUjCFC801sslk2qWnYtyan-Qm1zHU8nL41-agr4JqdZnBYf-cXR5MxNg6jhMvv_9Ibc0fL_DUmvmWMLYBUEeyk2D0OVbJ26HSUPjXvlG8n_R5G3U43y2fUAhOEkODRWPPNLcBiMx_zh2h4o6W6kd1uTyqcS3Lae9g7J7U5ZDfzvrMYNdBYAd2d9N95tBEp9M_RviIXiTXt5J1NWmSs9Ft8IThQ" charset="UTF-8"></script></head>
<body>
    {% block body %}{% endblock %}
</body>
</html>